<!-- wp:group {"align":"full","tagName":"main","style":{"spacing":{"margin":{"top":"0"},"blockGap":"0"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0">

  <!-- wp:group {"className":"single-card surface surface--bordered","style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"top":"0","bottom":"0"},"blockGap":"0"}},"layout":{"type":"flex","orientation":"vertical","flexWrap":"nowrap"}} -->
  <div class="wp-block-group single-card surface surface--bordered" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;margin-top:0;margin-bottom:0">

    <!-- wp:pattern {"slug":"microposting/404-content"} /-->

  </div>
  <!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
